<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mt-4 text-center">
        <span class="maker">ユーザーページ</span>
      </h4>
      <div class="my-5 text-center">
        <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "btn border-dark m-3" %><br class="br-mobile">
        <%= link_to "退会する", users_destroy_path, method: :delete, class: "btn btn-danger m-3", "data-confirm" => "本当に退会しますか？\n全ての情報は削除され、復元できなくなります" %>
      </div>
    </div>
  </div>
  <%= render 'layouts/navbar_bottom' %>
</div>
