<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mt-4">
        <span class="maker">登録情報</span>
      </h4>
        <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, class: "btn border-dark" %>
        <%= link_to "退会する", users_destroy_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？\n全ての情報は削除され、復元できなくなります" %>
    </div>
  </div>
</div>
