<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto">
      <h4>
        <b>生活の<span class="top-maker">「うっかり」</span>を<br class="br-mobile">なくしませんか？</b>
      </h4>
      <p>朝起きた時、<br class="br-mobile">スーパーでのショッピング中、<br class="br-mobile">料理中、、、<br>
      スケジュール帳やメモアプリに<br class="br-mobile">書くほどでもない<br>
      だけど「うっかり」失敗してしまう<br class="br-mobile">生活のアレコレをまとめて管理</p>
    </div>
  </div>
  <div class="row">
    <%= image_tag 'seikatsu_notes_top1.png', class: "top-image1" %>
    <%= image_tag 'seikatsu_notes_top2.png', class: "top-image2" %>
  </div>
  <div class="row">
    <div class="top-btn mx-auto my-sm-5">
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn border-dark btn-light" %>
      <%= link_to "お試しされたい方はこちら", users_guest_sign_in_path, class: "btn border-dark btn-light", method: :post %>
    </div>
  </div>
</div>