<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto">
      <h4><b>生活の「うっかり」をなくしませんか？</b></h4>
      <p>朝起きた時、スーパーでのショッピング中、料理中、、、<br>
      スケジュール帳やメモアプリに書くほどでもない<br>
      だけどいつも「うっかり」失敗してしまう生活のアレコレをまとめて管理</p>
    </div>
  </div>
  <div class="row">
    <%= image_tag 'seikatsu_notes_top1.png', class: "top-image1" %>
    <%= image_tag 'seikatsu_notes_top2.png', class: "top-image2" %>
  </div>
  <div class="row">
    <div class="top-btn mx-auto my-5">
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn border-dark btn-light" %>
      <%= link_to "お試しされたい方はこちら", "/", class: "btn border-dark btn-light" %>
    </div>
  </div>
</div>