/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */



header {
  border-bottom: thick double #575757;
}

main {
  font-family: 'Zen Maru Gothic', sans-serif;
}

footer {
  height: 150px;
}
/*.table td {*/
  /*vertical-align: middle;*/
/*}*/

button {
  border: none;
  outline: none;
}

.box-border {
  position: relative;
  border: solid 2px #666;
  color: #454545;
  margin-bottom: 15px;
}
.box-border:after{
  position: absolute;
  content: '';
  right: -2px;
  top: -2px;
  border-width: 0 35px 35px 0;
  border-style: solid;
  border-color: #fff #fff #EEE;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.15);
}

.maker {
  margin: 30px 10px 0px 10px;
  padding: 0px 10px;
  background: linear-gradient(transparent 50%, #ffce5b 50%);
}

.navbar-list {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  margin: 5px 20px;
}

.navbar-list:hover {
  text-decoration: none;
  color: black;
}

.navbar-button {
  border-color: rgba(0,0,0,0);
  border-left: 2px dotted rgba(0,0,0,.1); /* マステの左のギザギザ */
  border-right: 2px dotted rgba(0,0,0,.1); /* マステの右のギザギザ */
  box-shadow: 0 0 5px rgba(0,0,0,.2); /* マステに影をつける */
  transform: rotate(-2deg); /* マステを回転させる */
  padding: 10px 40px; /* マステの内側の余白 */
  background-color: #FFFF99; /* マステの色 */
  font-size: 30px; /* 文字サイズ */
  margin: 0px 10px 10px 20px;
}

.navbar-center {
  transform: rotate(1deg); /* マステを回転させる */

}

.navbar-button:hover {
  background-color: #FFD700;
  transform: rotate(2deg); /* マステを回転させる */
}

.fa-navbar-list {
  margin-right: 5px;
}

.destroy-btn {
  color: gray;
  font-size: 15px;
}

.config-btn:hover, .destroy-btn:hover {
  color: black;
  display: inline-block;
  transform: scale(1.2);
  transform-origin: center center;
}

@media screen and (max-width:1200px) {  /* lg */
  .navbar-button {
    padding: 10px 40px; /* マステの内側の余白 */
    font-size: 22px; /* 文字サイズ */
    margin: 0px;
  }
}

@media screen and (max-width:992px) {  /* md */
  .header-item .btn {
    font-size: 80%;
  }
}

@media screen and (max-width:768px) { /* sm */
  header img {
    width: 100%;
  }
  .navbar-button {
    padding: 7px 30px; /* マステの内側の余白 */
    font-size: 20px; /* 文字サイズ */
  }
  footer {
    height: 0;
  }
}

@media screen and (max-width:576px) { /* Extra Small */
  .header-item .btn {
    font-size: 70%
  }
  .header-item .btn:nth-child(1), .header-item .btn:nth-child(3) {
    display: none;
  }
  .fa-cogs {
    font-size: 130%
  }
  .navbar-button {
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform: rotate(0deg); /* マステを回転させる */
    padding: 5px 25px; /* マステの内側の余白 */
    font-size: 20px; /* 文字サイズ */
  }
  .navbar-list {
    margin: 0px 10px;
  }
}