/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 

header {
  border-bottom: thick double #575757;
}

main {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.border_sketch {
  border:solid 2px #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.maker {
  background: linear-gradient(transparent 50%, #ffce5b 50%);
}

.navbar-button {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 5px 20px;
}

.headline {
  margin-top: 30px;
  padding-left: 10px;
  border-bottom: 2px solid #41403E;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}