// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shopping-box, .alert-box {
  height: 48%;
}

.calendar {
  padding: 20px;
}

.simple-calendar {
  .calendar-title{
    font-size: 30px;
    // font-family: ;
  }
  .day {
    font-size: 12px;
    height: 95px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    color: red;
    font-weight: bold;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.red-text{
  color: red;
  font-size: 22px;
  font-weight: bold;
}

.stock-schedule-name {
  font-size: 8px;
  color: black;
  white-space: nowrap;
  background-color: rgba(102,153,204,0.6);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  margin: 1px
}

.list-schedule-name {
  font-size: 8px;
  color: black;
  white-space: nowrap;
  background-color: rgba(102,153,153,0.6);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  margin: 1px;
}

.date {
  margin: 0px;
}