// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.destroy-btn {
  color: gray;
  font-size: 15px;
}

.destroy-btn:hover {
  color: black;
  display: inline-block;
  transform: scale(1.2);
}

.shopping_list {
  position: relative;
}

.shopping_list:after {
  position: absolute;
  content: "";
  border-right: 2px dashed #BBB;
  right: 0;
  top: 10%;
  height: 80%;
}