// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shopping_list {
  position: relative;
}

.shopping_list:after {
  position: absolute;
  content: "";
  border-right: 2px dashed #BBB;
  right: 0;
  top: 10%;
  height: 80%;
}

@media screen and (max-width:992px) { /* md */
  .shopping_list:after {
    border-right: none;
    border-bottom: 2px dashed #BBB;
    top: 20%;
    left: 10%;
    width: 80%;
    pointer-events: none;
  }
}