// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-link {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 15px;
  color: gray;
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

.dropdown-item {
  font-size: 13px;
}

.stock-index {
  a {
    border-bottom: 0.5px solid #6c757d;
  }
}

@media screen and (max-width:992px) { /* md */
  .form-group {
    td {
      font-size: 80%;
    }
    .form-control-md-sm {
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }
  .nav-link {
    font-size: 90%;
    white-space: nowrap;
  }
  .tab-area {
    overflow-x: scroll;
  }
  .nav-tabs {
    width: 400px;
  }
  .stock-index thead {
    font-size: 80%;
  }
}

@media screen and (max-width:768px) { /* sm */
  .stock-index {
    thead {
      display: none;
    }
  }
  .box-border {
    form, .form-space {
      display: flex;
    }
    .form-item {
      width: 80%;
    }
  }
  .maker {
    font-size: 80%;
  }
}