<div class="row">
  <nav class="navbar mx-auto">
    <span class="navbar-button"><%= link_to "Stock", stocks_path, class: "btn btn-white border-dark px-4", style: "font-size:22px;" %></span>
    <span class="navbar-button"><%= link_to "List", lists_path, class: "btn btn-white border-dark px-4",style: "font-size:22px;" %></span>
    <span class="navbar-button"><%#= link_to "Store" %></span>
  </nav>
</div>