<div class="row">
  <nav class="navbar mx-auto">
    <span class="navbar-button"><%= link_to "Stock List", stocks_path, class: "btn btn-white border-dark px-4" %></span>
    <span class="navbar-button"><%= link_to "Shopping List", lists_path, class: "btn btn-white border-dark px-4" %></span>
    <span class="navbar-button"><%#= link_to "Store_List" %></span>
  </nav>
</div>