<div class="row">
  <div class="mx-auto">
    <%= link_to home_path, class: "navbar-list text-dark" do %>
      <button class="navbar-button">
        <i class="fa fa-home fa-xs fa-navbar-list" aria-hidden="true"></i>Home
      </button>
    <% end %>
  </div>
</div>