<div class="row">
  <nav class="navbar mx-auto">
    <%= link_to stocks_path, class: "navbar-list text-dark" do %>
      <button class="navbar-button">
        <i class="fa fa-cutlery fa-xs fa-navbar-list" aria-hidden="true"></i>Stock
      </button>
    <% end %>
    <%= link_to lists_path, class: "navbar-list text-dark" do %>
      <button class="navbar-button navbar-center">
        <i class="fa fa-list-alt fa-xs fa-navbar-list" aria-hidden="true"></i>List
      </button>
    <% end %>
    <%#= link_to stores_path, class: "navbar-list" do %>
      <!--<button class="navbar-button">-->
        <!--Store-->
      <!--</button>-->
  </nav>
</div>